<div class="border-0 m-5 p-5"></div>
<div class="border-0 m-5 p-5"></div>
<div class="container-fluid d-flex justify-content-center">
    <div class="card text-bg-dark text-center mb-3 border-0 rounded-0" style="max-width: 768px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/5.jpg" class="img-fluid border-0 rounded-0" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body">
                    <h2 id="nombre" class="card-title">{{persona.nombre}} {{persona.apellido}}</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div>
                        <a type="button" href="https://www.facebook.com/" class="btn btn-outline-primary m-2"><img
                                src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"
                                alt="Bootstrap" width="30" height="24"></a>
                        <a type="button" href="https://www.instagram.com/" class="btn btn-outline-danger m-2"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
                                alt="Bootstrap" width="30" height="24"></a>
                        <a type="button" href="https://twitter.com/" class="btn btn-outline-info m-2"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg"
                                alt="Bootstrap" width="30" height="24"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>