<div class="border-0 m-5"></div>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <span class="navbar-brand mb-0 h1 mx-auto">EDUCACION</span>
</nav>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 768px;">
        <div class="col">
            <div class="card h-100 text-bg-dark text-center mb-3 border-0 rounded-0">
                <img src="../../../assets/9.png" class="card-img-top border-0 rounded-0" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-bg-dark text-center mb-3 border-0 rounded-0">
                <img src="../../../assets/10.png" class="card-img-top border-0 rounded-0" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-bg-dark text-center mb-3 border-0 rounded-0">
                <img src="../../../assets/11.png" class="card-img-top border-0 rounded-0" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>