<div class="border-0 m-5"></div>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <span class="navbar-brand mb-0 h1 mx-auto">HARD SKILLS</span>
</nav>
<div class="border-0 m-5"></div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 768px;">
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/html5-original-wordmark.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/css3-original-wordmark.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/javascript-original.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/angularjs-original.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/mysql-original-wordmark.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65"
                    [imageSrc]="'https://profilinator.rishav.dev/skills-assets/java-original-wordmark.svg'"
                    [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                    [showImage]="true" [animation]="false" [showInnerStroke]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
    </div>
</div>
<div class="border-0 m-5"></div>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <span class="navbar-brand mb-0 h1 mx-auto">SOFT SKILLS</span>
</nav>
<div class="border-0 m-5"></div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 768px;">
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Creatividad'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Innovación'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Colaboración'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Flexibilidad'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Adaptabilidad'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center border-0">
                <circle-progress [percent]="65" [showTitle]="true" [title]="'Productividad'" [imageHeight]="100"
                    [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'" [animation]="false"
                    [showInnerStroke]="false" [showSubtitle]="false" [showUnits]="false"
                    [responsive]="true"></circle-progress>
            </div>
        </div>
    </div>
</div>