<div class="border-0 m-5"></div>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <span class="navbar-brand mb-0 h1 mx-auto">HARD SKILLS & SOFT SKILLS</span>
    <button type="button" class="btn btn-warning fw-bold m-3" routerLink="/newskills" *ngIf="isLogged">
        NUEVA SKILL
    </button>
</nav>
<div class="border-0 m-5"></div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 768px;">
        <div *ngFor="let skill of skill" class="col">
            <div class="card h-100 text-bg-dark text-center mb-3 border-0 rounded-0">
                <div class="card h-100 justify-content-center border-0 rounded-0">
                    <circle-progress [percent]="(skill.porcentaje)" [imageSrc]="''" [title]="(skill.nombre)"
                        [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="15" [outerStrokeColor]="'#157347'"
                        [showSubtitle]="false" [showUnits]="false" [animation]="false" [showInnerStroke]="false"
                        [responsive]="true"></circle-progress>
                </div>
                <div *ngIf="isLogged">
                    <button class="btn btn-warning fw-bold m-3" routerLink="/editskills/{{skill.id}}">EDITAR</button>
                </div>
                <div *ngIf="isLogged">
                    <button class="btn btn-danger fw-bold mb-3" (click)="delete(skill.id)">BORRAR</button>
                </div>
            </div>

        </div>
    </div>
</div>